Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

chore: downlowd kromgo images
  .github/scripts/kromgo-badges.py
  .github/scripts/requirements.txt
  .github/workflows/kromgo-badges.yaml
  kromgo/.gitkeep
Labels: area/github

change: enable on dispatch
  .github/workflows/kromgo-badges.yaml
Labels: area/github

chore: download kromgo badges
  kromgo/{tag}.sgv
Labels: none

fix: kromgo badge downloarder script
  .github/scripts/kromgo-badges.py
Labels: area/github

admin: add kromgo authelia api key to flux venv
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: allow kromgo only for admin or user with apikey
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

admin: add loggers
  .github/scripts/kromgo-badges.py
  kromgo/{tag}.sgv
Labels: area/github

change: print correct status
  .github/scripts/kromgo-badges.py
Labels: area/github

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_node_count.svg
  kromgo/cluster_pod_count.svg
Labels: none

Update README.md
  README.md
Labels: none

chore: admin add job
  .github/workflows/kromgo-badges.yaml
Labels: area/github

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

add: more debug info
  .github/scripts/kromgo-badges.py
Labels: area/github

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

admin: remove useless requiremnts file
  .github/scripts/requirements.txt
Labels: area/github

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

add: autobrr db setting to media secrets
  bootstrap/templates/kubernetes/apps/media/secret.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

Update helmrelease.yaml from my phone
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none
