Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets with thanos bucket
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: thanos namespace from defaut to monitoring
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: replace thanos secret file with global config
  bootstrap/templates/kubernetes/apps/monitoring/thanos/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: remove namespace from valuesFrom spec
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "change: replace thanos secret file with global config"
  bootstrap/templates/kubernetes/apps/monitoring/thanos/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: thanos secret to kustomization
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: generate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: remove thanos secret file
  bootstrap/templates/kubernetes/apps/monitoring/thanos/app/secret.sops.yaml.j2
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: move s3 access and secret to cluster secrets
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

fix: remove secret include from thanos kubernetes
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove valuesFrom from thanos helmrelease
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: missing thanos secrets prefix
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: local path provisioner to cluster
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/storage/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/storage/local-path-provisioner/ks.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage

change: thanos persistence to use local-hostpath storageClass
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: prometheus setup
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: monitoring endpoints to admin pattern authelia
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

add: kube prometheus stack to cluster
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: kustomization file
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: rename kube prometheus stack kustomization file
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: kube state metrics to monitoring
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: kueb state metrics config for prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: kustomisation environement
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: minio and node-exporter scrapeconfigs
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization copy.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: prometheus scraping config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization copy.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: namespace to scraping configs
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: conflicting naming
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: camel case typo in prometheus scrapping config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: update minio metric endpoint
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: minio scraping job name
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: reduce replicat
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: storage to 5gi
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "change: reduce replicat"
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: minio scraping to use http
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "change: minio scraping job name"
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: minio prometheus setup
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: disable kyverno monitor and reduce replica to 1
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove minio scheme
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: disable all kyverno service monitor
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
