Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

change: [default] remove www config from nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

Revert "change: [ingress] remove unecessary tls on ingress"
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage, cluster/identity

change: [default] nextcloud fpm-apline to apache image
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: [default] enabled main persistence
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: set pod security context user and group
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: nextcloud apache user and group
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: nextcloud owner to www-data
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

refactor: simple line remove
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: try to create appropriate permission for nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: security context in nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: security context
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: security context
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: pull interval to 5m
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: pull interval to 1h
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: [default] persist config and custom_apps
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: nextcloud security context
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: post start command to nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: nextcloud extra mount location
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: nextcloud persistence
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: user id and config
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: update oidc and nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: [network] update nginx settings
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: enable nextcloud sso new user creation from oidc
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps
