Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

add: enable torrent back on
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

admin: remove vpn gateway from cluster
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/vpn-gateway/app/kustomization.yaml
  kubernetes/apps/networking/vpn-gateway/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: include prometheus operator crds
  scripts/bootstrap-apps.sh
Labels: none

change: update k8s-gateway to use origin
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/meta/repos/k8s-gateway.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_memory_usage.svg
Labels: none

Update ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate secrets and cleanup
  .taskfiles/template/Taskfile.yaml
  ansible/inventory/hosts.yaml
  ansible/playbooks/pihole-reboot.yaml
  ansible/playbooks/pihole-update.yaml
  bootstrap/tasks/validation/age.yaml
  bootstrap/tasks/validation/cli.yaml
  bootstrap/tasks/validation/cloudflare.yaml
  bootstrap/tasks/validation/github.yaml
  bootstrap/tasks/validation/main.yaml
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, area/taskfile, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

fix: set cluster settings on autotranslate ks file
  kubernetes/apps/default/autotranslate/ks.yaml
Labels: area/kubernetes, cluster/apps

add: echo server to networking cluster
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

change: clear echo server kustomization
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: enable api path for pihole
  kubernetes/apps/networking/pihole/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

fix: broken persitence configuration
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change remove tls from waeve-gitops
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

fix: typo in nfs filename
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: github webhook reciever and remove addons
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  bootstrap/templates/kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.j2
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: missing ingress file
  kubernetes/apps/flux-system/flux-instance/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

admin stuff
  bootstrap/templates/kubernetes/components/common/sops/sops-age.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: cleanup and refactoring
  ansible/inventory/host_vars/.gitkeep
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: jinja template tag
  bootstrap/templates/kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.j2
Labels: none

admin: regenerate secrets
  .taskfiles/template/Taskfile.yaml
  bootstrap/templates/.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
  talos/talsecret.sops.yaml
Labels: area/kubernetes, area/taskfile, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

change: remove authelia on torrent
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove useless enchor
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: update configuration
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Update helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Update helmrelease.yaml
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
