Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: remove torrent from media for now
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

refactor: clean data task file
  .taskfiles/cluster/Taskfile.yaml
Labels: area/taskfile

change: split flux reconcile on two line
  .taskfiles/cluster/Taskfile.yaml
Labels: area/taskfile

change: vpn interface to avoid conflict
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflared service origin
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: task to reload a specific helm release
  .taskfiles/cluster/Taskfile.yaml
Labels: area/taskfile

fix: nginx shared certificate file typo
  kubernetes/apps/networking/nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cluster certmanager issuer
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: update name of the certificate
  kubernetes/apps/networking/nginx/shared/certificate.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove global certificate
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/networking/nginx/shared/certificate.yaml
  kubernetes/apps/networking/nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: restore hyperoptic tls
  kubernetes/apps/networking/hyperoptic/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: revert external domain to api key
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: revert removed configuration
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: revert external dns
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: revert cert manager to original
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: typo and missing delete
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove publish false
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: set verify tls to false
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: fix cloudfalared configuration
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: set default certificate to nginx to be globa
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/networking/nginx/shared/certificate.yaml
  kubernetes/apps/networking/nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: disable external nginx publish
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: origin server name to ingress local
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: external nginx default ssl certicate
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: use correct origin server name
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: disable cloudflared tls verify
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove certmanager and external dns from managed zon
  bootstrap/helmfile.yaml
  scripts/bootstrap-apps.sh
Labels: none

admin: disable promethused crds
  scripts/bootstrap-apps.sh
Labels: none

change: nginx chart to not use the mirror version
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/flux/meta/repos/ingress-nginx.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove healthcheck for certificate
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: switch ingress back to home operation chart
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove not tls verify from cloudflared
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: external dns remove local dnsendpoint crds
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: restore external dns dnsendpoint
  scripts/bootstrap-apps.sh
Labels: none

fix: remove unescessary comma in bcrypt config
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

refactor: Changed from ':' to '=' for consistency
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove tls request from ingress in networking
  kubernetes/apps/networking/hyperoptic/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

refactor: clean monitoring folder with new config
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/ks.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
  kubernetes/apps/monitoring/pvc.yaml
  kubernetes/apps/monitoring/uptime-kuma/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: kubernetes dashboard configuration
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: uptime-kuma to use bjw-s
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
