Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: dashboard ingress to external
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove certificate from individual ingress
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

refactor: ingress with old cert hander
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

admin: upgrade nginx external resources
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: increase nginx external to 2 replicate
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: increase resources
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: revert external dns to avoid cloudflared
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "admin: remove cloudflare-ddns"
  kubernetes/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove nginx controller
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/certificates/staging.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: restore ingress nginx
  kubernetes/apps/networking/nginx/app/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/app/certificates/production.yaml
  kubernetes/apps/networking/nginx/app/certificates/staging.yaml
  kubernetes/apps/networking/nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/nginx/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/app/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: all external ingress to nginx
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

Revert "admin: remove cloudflare-ddns"
  kubernetes/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove nginx controller
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/certificates/staging.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: all external ingress to nginx
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: restore ingress nginx
  kubernetes/apps/networking/nginx/app/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/app/certificates/production.yaml
  kubernetes/apps/networking/nginx/app/certificates/staging.yaml
  kubernetes/apps/networking/nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/nginx/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/app/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: revert external dns to avoid cloudflared
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove certificates from nginx
  kubernetes/apps/networking/nginx/app/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/app/certificates/production.yaml
  kubernetes/apps/networking/nginx/app/certificates/staging.yaml
  kubernetes/apps/networking/nginx/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: add tls to all ingress for certificate
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: update keyverno ingress annotation to add cert issuer
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

Revert "fix: certificates to use token then key"
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/networking/nginx/app/certificates/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: kyverno ingress policy to switch to production
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: rename stating tls to production tls
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: remove cloudflared from networking namespace
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/app/certificates/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Update README.md
  README.md
Labels: none

new: setup cloudflared into the network to avoid static ip
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/ingress/cloudflare-networks.txt
  kubernetes/apps/networking/nginx/ingress/helmrelease.yaml
  kubernetes/apps/networking/nginx/ingress/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

new: setup cloudflared into the network to avoid static ip
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/ingress/cloudflare-networks.txt
  kubernetes/apps/networking/nginx/ingress/helmrelease.yaml
  kubernetes/apps/networking/nginx/ingress/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

fix: typo wrong namspace name
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: move dependency from kustomization to helmrelease
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflare ks wrong namespace name
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: rename ks prefix name with cluster-apps
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: ignore specific configyaml file
  .gitignore
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: missing networking to coudflared
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: wrong cloudflared tunnel secrets nae
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflared tunnel id secret name
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: remove service account secret
  kubernetes/apps/monitoring/dashboard/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
