Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

Update section title from 'Self-hosted Overview' to 'Overview'
  README.md
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

add: [apps] tailscale to networking namepsace
  bootstrap/templates/kubernetes/apps/networking/tailscale/app/secret.sops.yaml.j2
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/ks.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/tailscale.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: stirling-pdf add home dir as temporary set user to 1000
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: gatus connectivity checks
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

refactor: [monitoring] gatus rbac roles and bindings
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: [networking] enable tailscale
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: [kubernetes] tailscal oci repository
  kubernetes/components/common/repos/tailscale/kustomization.yaml
  kubernetes/components/common/repos/tailscale/ocirepository.yaml
Labels: area/kubernetes

refactor: [netowrking] rename tailscale kustomization
  kubernetes/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: [default] enhance nextcloud configuration
  bootstrap/templates/kubernetes/apps/default/nextcloud/app/secret.sops.yaml.j2
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/pvc.yaml
  kubernetes/apps/default/nextcloud/ks.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
  kubernetes/components/common/repos/nextcloud/kustomization.yaml
  kubernetes/components/common/repos/nextcloud/ocirepository.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

add: [default] cluster settings to nextcloud kustomization
  kubernetes/apps/default/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/apps

fix: [default] nextcloud invalide type of port to env
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: [default] nextcloud secrets name typo
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: [default] move all nextcloud env into secrets
  bootstrap/templates/kubernetes/apps/default/nextcloud/app/secret.sops.yaml.j2
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: [default] nextcloud smtp config in env file
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: [default] nextcloud redis configuration
  bootstrap/templates/kubernetes/apps/default/nextcloud/app/secret.sops.yaml.j2
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: [default] nextcloud postgresql password typo
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: [default] nextcloud pod security context
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: [default] postgres database host for nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: [default] move nextcloud persistence to enable data storage
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: [default] nextcloud hemlrelease file broken structure
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: [default] ingress class name to nextcloud
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: [ingress] remove unecessary tls on ingress
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage, cluster/identity

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
