Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

change: enable node feature discovery prometheus metric
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: minio to grafana dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: reword replica labels and update monitoring configs
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: broken indent in grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: rename ingress for k8s-0
  kubernetes/apps/monitoring/webmin/k8s-0/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/service.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: grafana datasource apiversion typo
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "fix(github-release): update rancher/system-upgrade-controller to v0.13.4"
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: weave gitops helm repository
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes, cluster/system

change: upgrade pgadmin chart template from 2.5.0 to 3.0.4
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: set main controller for pgadmin
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: typo controller instead of controler
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: identifier to pgadmin chart schema
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove name from ingress
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: media chart app-template to 3.0.4
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: app-template for media migration
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: annotation for app-template 3.0.4
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: identity chart app-template to 3.0.4
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: move resources to conatiner
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

fix: requirement qpp-template fields
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: remove namespace from authelia env secretref
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: networking and storage chart app-template to 3.0.4
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/networking

fix: malformed yaml file
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: enable cloudflared metrics
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: upgrade system upgrade
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

fix: broken yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "feat(helm)!: Update chart thanos to 15.0.4"
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: kubernetes dashboard values
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: helm chart
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: to version 7.2.0
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: secret name location
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: ingress class name attribute
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: leave authelia handle the login
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: webmin monitoring ports
  kubernetes/apps/monitoring/webmin/k8s-1/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/service.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/service.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/service.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove skip login
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: zap2xml to cluster
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
  kubernetes/apps/media/zap2xml/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: zap username and password on secret templates
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

admin: regenerate cluster secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: subpath zap2xml
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: temporarily remove adguard from cluster
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: give elevated permission to zap2xml
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media
