Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

fix: broken helm schema
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: broken persistence
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: missing controller to uptime-kuma
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove tls from identity configuration
  kubernetes/apps/identity/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

admin: restore cloudnatige db from preiovus backup
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: disable initdb
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: boopstrap strategy
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: boopstrap strategy"
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "admin: disable initdb"
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: reduce pg custer to 2 instance
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: kyverno ingress policy remove uncessary rules
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove tls on minio ingress
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

refactor: adjust media app to support new structure
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/flaresolverr/ks.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/pvc.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/media/torrent/ks.yaml
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
  kubernetes/apps/media/traktarr/ks.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: jellyfin node affinity config to discard gpu
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: priority class to scheduler
  kubernetes/apps/kube-system/descheduler/app/high-priority.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps

change: set high priority to jellyfin on k8s-4
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_node_count.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

change: remove gpu limitation
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: add intel gpu to jellyfin
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove gpu from jellyfin
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

admin: add schematic config
  bootstrap/templates/talos/talconfig.yaml.j2
Labels: none

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: update talos config
  talos/talconfig.yaml
Labels: none

fix: mount correct media path to jellyfin
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

add: teleport skeleton to cluster
  bootstrap/templates/kubernetes/apps/teleport/cluster/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
  kubernetes/apps/networking/hyperoptic/app/ingress.yaml
  kubernetes/apps/teleport/cluster/app/helmrelease.yaml
  kubernetes/apps/teleport/cluster/app/kustomization.yaml
  kubernetes/apps/teleport/cluster/app/oidc-connector.yaml
  kubernetes/apps/teleport/cluster/ks.yaml
  kubernetes/apps/teleport/kustomization.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/teleport.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/identity, cluster/networking

change: teleport configuration settings
  bootstrap/templates/kubernetes/apps/teleport/cluster/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
  kubernetes/apps/teleport/cluster/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: update teleport configuration
  kubernetes/apps/teleport/cluster/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: fix teleport postgres driver
  kubernetes/apps/teleport/cluster/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_node_count.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

add: new node k8s-1 to cluster
  talos/talconfig.yaml
Labels: none

admin: join node k8s-0 to talos cluster
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate token
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_node_count.svg
  kromgo/cluster_pod_count.svg
Labels: none
