Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: add port and tz to qbittorrent
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: default namespace to use oci of app-template
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
  kubernetes/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: home-automation to use oci of app-template
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: identity to use oci of app-template
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/identity/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: kube-system to use oci of app-template
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: cilium configuration template
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: media to use oci of app-template
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: monitoring to use oci of app-template
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: networking to use oci of app-template
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: networking nginx proxy buffer sizes
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: storage to use oci of app-template
  kubernetes/apps/storage/dragonfly/app/helmrelease.yaml
  kubernetes/apps/storage/minio/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: change system upgrade for talos
  README.md
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: fix git repository on system upgrade
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove depends on in system upgrade
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: more scope to talos on control plane
  bootstrap/templates/talos/patches/controller/api-access.yaml
  bootstrap/templates/talos/patches/controller/audit-policy.yaml.j2
Labels: none

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
  talos/patches/controller/api-access.yaml
  talos/patches/controller/audit-policy.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

admin: revert talsecret
  talos/talsecret.sops.yaml
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
