Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: sonarr port from 80 to 8989
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: authentication rule on sonarr
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

admin: update smtp relay password
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: reduce smpt relay replicate to 1
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

adming: temporarily disable tls origin request validation
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: create and internal and external nginx
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/secret.sops.yaml.j2
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/certificates/staging.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: external to ipv4
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "adming: temporarily disable tls origin request validation"
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: all external ingress class name to external
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: remove cloudflare-ddns
  kubernetes/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "adming: temporarily disable tls origin request validation"
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove cloudflare-ddns
  kubernetes/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: external to ipv4
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: all external ingress class name to external
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: create and internal and external nginx
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/secret.sops.yaml.j2
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/certificates/staging.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: certificate naming
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: nginx certificates stating namming
  kubernetes/apps/networking/nginx/certificates/staging.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "fix: certificate naming"
  kubernetes/apps/networking/nginx/certificates/production.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "fix: nginx certificates stating namming"
  kubernetes/apps/networking/nginx/certificates/staging.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: flux value substitution flag
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove ingress-nginx dependecy from cloudflared
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflared config to point to external nginx controller
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: certificates to use token then key
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/networking/nginx/certificates/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: set no tls verify
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: disable tls check
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: ingress nginx back
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: testing endpoint to cloudflared
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: increase udp buffer sze for quic protocol
  Taskfile.yml
  ansible/roles/os/core/tasks/kernel.yml
  ansible/roles/os/core/tasks/main.yml
Labels: area/ansible, area/taskfile

change: revert change on external dns
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove ingress ngin
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: kubernetes ingress class to external
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove no tls verify
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: ingresses set ingress class name to correct location
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage, cluster/monitoring

Revert "change: remove no tls verify"
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: kubernetes dashboard charts
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/kustomization.yaml
  kubernetes/apps/monitoring/dashboard/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: create rbac first
  kubernetes/apps/monitoring/dashboard/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: set namespace
  kubernetes/apps/monitoring/dashboard/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: typo in chart naming
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
