Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: entry file for zap2xml
  kubernetes/apps/media/zap2xml/app/entry.sh
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: specify namespace
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: read only to false
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove read only flag
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: docker entrypoint with command
  kubernetes/apps/media/zap2xml/app/entry.sh
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove initContainer
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: data directory to config
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add and empty cache dire
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: cache file name
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: ttl after finish
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: custom zap2xml pl file
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
  kubernetes/apps/media/zap2xml/app/zap2xml.pl
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove init container
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: permsssion
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove zap2xml pl file
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
  kubernetes/apps/media/zap2xml/app/kustomization.yaml
  kubernetes/apps/media/zap2xml/app/zap2xml.pl
Labels: area/kubernetes, cluster/apps, cluster/media

change: reanable adguard
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: adgaurd version
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: add second dns to tzingate
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: tvheadend to cluster
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tvheadend/app/helmrelease.yaml
  kubernetes/apps/media/tvheadend/app/kustomization.yaml
  kubernetes/apps/media/tvheadend/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove useless label
  kubernetes/apps/media/tvheadend/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: wrong notation
  kubernetes/apps/media/tvheadend/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove useless mount volume
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: zap2xml memory limit due to OOMKilled
  kubernetes/apps/media/zap2xml/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Update README.md
  README.md
Labels: none

Revert "feat(helm): update chart loki to 5.48.0"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "feat(helm): update chart loki to 5.48.0"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Update helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Update helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

update ansible requirement
  requirements.txt
Labels: none

fix: ansible pihole typo
  ansible/playbooks/pihole-update.yaml
Labels: area/ansible

change: reword master to controllers
  ansible/inventory/hosts.yaml
  ansible/playbooks/cluster-installation.yaml
  ansible/playbooks/cluster-nuke.yaml
  ansible/playbooks/cluster-prepare.yaml
  ansible/playbooks/cluster-reboot.yaml
Labels: area/ansible

change: update requirement
  requirements.txt
Labels: none

Revert "feat(helm): update chart loki to 5.48.0"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: rollout update remove cordon
  ansible/playbooks/cluster-rollout-update.yaml
Labels: area/ansible

change: temporary disable zap and thheadend
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove useless node affinity to master node
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/networking

change: help repository from v1 to v1beta2
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/christfried.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/dex.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/hajimari.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-at-home.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubernetes-dashboard.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
  kubernetes/flux/repositories/helm/metallb.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/nfs-subdir-external-provisioner.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
  kubernetes/flux/repositories/helm/oauth2-proxy.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/runix.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/twingate.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes, cluster/system

Revert "feat(helm): update chart loki to 5.48.0"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "feat(helm): update chart loki to 5.48.0"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: update webmin
  ansible/roles/os/application/tasks/application.yaml
Labels: area/ansible

change: redeploy loki helm
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
