Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: enable gatus on radarr
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: gatus postbuild info
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: use app name
  kubernetes/apps/media/radarr/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: missing kustomisation file
  kubernetes/shared/templates/gatus/external/kustomization.yaml
Labels: area/kubernetes

fix: typo
  kubernetes/apps/media/radarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: namespace info to gatus external
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

add: gatus authelia api key to templates
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

add: gatus and update authelia to block all
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

admin: regenerate token
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: gatus external template to add authelia apikey
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes

add: calibre to gatus
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/calibre/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: gatus to only use guarded config
  kubernetes/apps/media/calibre/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
  kubernetes/shared/templates/gatus/guarded/configmap.yaml
  kubernetes/shared/templates/gatus/guarded/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media, cluster/monitoring

change: restor connectivity
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: gatus url
  kubernetes/shared/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

change: restore external
  kubernetes/shared/templates/gatus/external/configmap.yaml
  kubernetes/shared/templates/gatus/external/kustomization.yaml
Labels: area/kubernetes

change: gatus config
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: external gatus config
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: radarr gatus to external
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: update radarr and external config
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: make calibre a gatus external
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
