Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: remove unused env variable
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove nginx auth on letibeafrica
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: workpress to use common app-template
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
  kubernetes/apps/default/letibeafrica/app/kustomization.yaml
  kubernetes/apps/default/letibeafrica/app/ocirepository.yaml
  kubernetes/apps/default/letibeafrica/app/pvc.yaml
Labels: area/kubernetes, cluster/apps

refactor: clean wordpress config
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: wordpress global mount
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: set correct mount configuration
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: empty dir mount
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: mariadb config
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: additional env var
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: more pod config
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: pod security
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: security context
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: mariadb configuration
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: use secrets file instead
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: secrets path
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: use pipe to init container
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: allow admin to access all
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: to keep only one ingress
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: inline mariadb check script in helmchart
  kubernetes/apps/storage/mariadb/app/config/check.sh
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: use /usr/bin
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: move to args section
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: move to args section"
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "fix: use /usr/bin"
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: inline mariadb check script in helmchart"
  kubernetes/apps/storage/mariadb/app/config/check.sh
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

add: router exit node to tailscale
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: add missing file
  kubernetes/apps/networking/tailscale/app/router.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: enable net admin
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: security context on router
  kubernetes/apps/networking/tailscale/app/router.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: add more net capability
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/router.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove security context on router
  kubernetes/apps/networking/tailscale/app/router.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: proxy class
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/proxyclass.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
