Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

refactor: remove unsued in torrent helm
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: addons empty dir to torrent setup
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: termination log to generic device plugin
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: allow root fs
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

admin: prepare migration to talos
  .editorconfig
  .gitattributes
  .gitignore
  .lycheeignore
  .mise.toml
  .renovaterc.json5
  .shellcheckrc
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/BrewTasks.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/cluster/Taskfile.yaml
  .taskfiles/pihole/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  ansible/playbooks/cluster-installation.yaml
  ansible/playbooks/cluster-nuke.yaml
  ansible/playbooks/cluster-prepare.yaml
  ansible/playbooks/cluster-rollout-update.yaml
  ansible/playbooks/templates/calico-installation.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/setupVars.conf.j2
  ansible/roles/os/application/tasks/application.yaml
  ansible/roles/os/application/tasks/main.yaml
  ansible/roles/os/ubuntu/tasks/main.yaml
  ansible/roles/os/ubuntu/tasks/packages.yml
  bootstrap/helmfile.yaml
  makejinja.toml
  requirements.yaml
  scripts/bootstrap-apps.sh
  scripts/lib/common.sh
Labels: area/ansible, area/taskfile

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

admin: talos migration part 2
  .gitignore
  bootstrap/templates/kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml.j2
  bootstrap/templates/talos/patches/README.md.j2
  bootstrap/templates/talos/patches/controller/admission-controller-patch.yaml.j2
  bootstrap/templates/talos/patches/controller/cluster.yaml.j2
  bootstrap/templates/talos/patches/global/machine-files.yaml.j2
  bootstrap/templates/talos/patches/global/machine-kubelet.yaml.j2
  bootstrap/templates/talos/patches/global/machine-network.yaml.j2
  bootstrap/templates/talos/patches/global/machine-sysctls.yaml.j2
  bootstrap/templates/talos/patches/global/machine-time.yaml.j2
  bootstrap/templates/talos/talconfig.yaml.j2
  bootstrap/templates/talos/talenv.yaml.j2
  kubernetes/components/common/kustomization.yaml
  kubernetes/components/common/namespace.yaml
  kubernetes/components/common/repos/app-template/kustomization.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/meta/kustomization.yaml
  kubernetes/flux/meta/repos/external-dns.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  scripts/plugin.py
  talos/patches/README.md
  talos/patches/controller/admission-controller-patch.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/global/machine-files.yaml
  talos/patches/global/machine-kubelet.yaml
  talos/patches/global/machine-network.yaml
  talos/patches/global/machine-sysctls.yaml
  talos/patches/global/machine-time.yaml
  talos/talconfig.yaml
  talos/talenv.yaml
Labels: area/kubernetes, cluster/system

change: remove default taskfile configure
  Taskfile.yml
Labels: area/taskfile

add: taskfile template
  .taskfiles/template/Taskfile.yaml
  .taskfiles/template/resources/cluster.schema.cue
  .taskfiles/template/resources/kubeconform.sh
  .taskfiles/template/resources/nodes.schema.cue
Labels: area/taskfile

admin: prepare migration to talos
  .editorconfig
  .gitattributes
  .gitignore
  .lycheeignore
  .mise.toml
  .renovaterc.json5
  .shellcheckrc
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/BrewTasks.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/cluster/Taskfile.yaml
  .taskfiles/pihole/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  ansible/playbooks/cluster-installation.yaml
  ansible/playbooks/cluster-nuke.yaml
  ansible/playbooks/cluster-prepare.yaml
  ansible/playbooks/cluster-rollout-update.yaml
  ansible/playbooks/templates/calico-installation.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/templates/setupVars.conf.j2
  ansible/roles/os/application/tasks/application.yaml
  ansible/roles/os/application/tasks/main.yaml
  ansible/roles/os/ubuntu/tasks/main.yaml
  ansible/roles/os/ubuntu/tasks/packages.yml
  bootstrap/helmfile.yaml
  makejinja.toml
  requirements.yaml
  scripts/bootstrap-apps.sh
  scripts/lib/common.sh
Labels: area/ansible, area/taskfile

admin: fix and regenerate token
  bootstrap/templates/node.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: migrate k8s-4 to talos
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: fix sops config
  talos/talsecret.sops.yaml
  talsecret.sops.yaml
Labels: none

admin: push base talos config
  talos/clusterconfig/.gitignore
  talos/talsecret.sops.yaml
  talsecret.sops.yaml
Labels: none

admin: join new node
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: add k8s-3 node to cluster
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: missing config file
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes, cluster/apps

change: remove cert manager from auto managed
  bootstrap/helmfile.yaml
Labels: none

Revert "change: remove cert manager from auto managed"
  bootstrap/helmfile.yaml
Labels: none

admin: upgrade certmanager
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: reword incorrect naming
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes, cluster/system

add: naming
  kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: remove webmin
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: remove k8s dependency
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
