Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

Add 'ingresses' resource to helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Add apigroup for networking.k8s.io in helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Replace static IP with environment variable for Mosquitto
  kubernetes/apps/storage/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

Refine monitoring and observability description
  README.md
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: tailscale to use proxy class
  kubernetes/apps/networking/tailscale/app/connector.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

Revert "change: tailscale to use proxy class"
  kubernetes/apps/networking/tailscale/app/connector.yaml
  kubernetes/apps/networking/tailscale/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: [networking] revert tailscale to service expose
  kubernetes/apps/networking/tailscale/app/connector.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: expose adguard to tailscale
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
