Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

Revert "fix(container): update image fallenbagel/jellyseerr to v2.5.2"
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: paperless secrets template
  bootstrap/templates/kubernetes/apps/default/paperless/app/secret.sops.yaml.j2
Labels: none

admin: generate secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: generate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  bootstrap/templates/kubernetes/apps/default/paperless/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: add paperless to the default namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/pvc.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

admin: generate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: missing tls to paperless
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: a specific namepspace
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: specific paperless media pvc
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/app/pvc.yaml
Labels: area/kubernetes, cluster/apps

fix: paperless global mount
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: paperless data existing clain naming
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: paperless secrets name
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: paperless self redis
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: dragonfly to cluster
  kubernetes/apps/storage/dragonfly/app/helmrelease.yaml
  kubernetes/apps/storage/dragonfly/app/kustomization.yaml
  kubernetes/apps/storage/dragonfly/app/rbac.yaml
  kubernetes/apps/storage/dragonfly/cluster/cluster.yaml
  kubernetes/apps/storage/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/storage/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/storage/dragonfly/ks.yaml
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: redis to use dragonfly
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: naming for healthcheck
  kubernetes/apps/storage/dragonfly/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: dragonfly role binding
  kubernetes/apps/storage/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: refactor authelia config
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

refactor: remove redis from cluster
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/redis/app/helmrelease.yaml
  kubernetes/apps/storage/redis/app/kustomization.yaml
  kubernetes/apps/storage/redis/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage, cluster/identity

add: autotranslate to the cluster might rework on that later
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
  kubernetes/apps/default/autotranslate/app/kustomization.yaml
  kubernetes/apps/default/autotranslate/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/pvc.yaml
  kubernetes/apps/default/pvc.yaml
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: update redis
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: authelia to depend on dragonfly
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: update paperless storage
  kubernetes/apps/default/pvc.yaml
Labels: area/kubernetes, cluster/apps

change: pvc naming and update autotranslate and paperless
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/pvc.yaml
Labels: area/kubernetes, cluster/apps

add: deepl auth key to cluster secrets
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: remove non-existing secrets
  kubernetes/apps/default/autotranslate/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps

change: disable port on autotranslate
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove jellyseerr cache volume
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

disable autotranslate port
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: set port to autotranslate
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: enable port on autotranslate
  kubernetes/apps/default/autotranslate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove nzbget from cluster
  .github/renovate.json5
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/kustomization.yaml
  kubernetes/apps/media/nzbget/ks.yaml
Labels: area/github, area/kubernetes, cluster/apps, cluster/media

Revert "fix(container): update image fallenbagel/jellyseerr to v2.5.2"
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: autobrr and readarr to auto merge
  .github/renovate.json5
Labels: area/github

add: it-tools to the kubernetes cluster
  kubernetes/apps/default/it-tools/app/helmrelease.yaml
  kubernetes/apps/default/it-tools/app/kustomization.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/apps

Update helmrelease.yaml
  kubernetes/apps/default/it-tools/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

admin: remove old configuration file
  configure
Labels: none

change: mount adguard ingress tls secret into the container
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: use openbs-hostpath instead of local path
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring
