Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

change: move sops to everyone
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes

admin: clean flux directory removing all unused
  bootstrap/templates/kubernetes/components/common/cluster-settings.yaml.j2
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  kubernetes/components/common/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/meta/repos/bitnami.yaml
  kubernetes/flux/meta/repos/bjw-s.yaml
  kubernetes/flux/meta/repos/cloudnative-pg.yaml
  kubernetes/flux/meta/repos/grafana.yaml
  kubernetes/flux/meta/repos/hajimari.yaml
  kubernetes/flux/meta/repos/home-operations.yaml
  kubernetes/flux/meta/repos/k8s-at-home.yaml
  kubernetes/flux/meta/repos/kubernetes-dashboard.yaml
  kubernetes/flux/meta/repos/kustomization.yaml
  kubernetes/flux/meta/repos/kyverno.yaml
  kubernetes/flux/meta/repos/metallb.yaml
  kubernetes/flux/meta/repos/nvidia-operator.yaml
  kubernetes/flux/meta/repos/prometheus-community.yaml
  kubernetes/flux/meta/repos/stakater.yaml
  kubernetes/flux/meta/repos/twingate.yaml
  kubernetes/flux/meta/repos/weave-gitops.yaml
  kubernetes/flux/repositories/git/.gitkeep
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/.gitkeep
  kubernetes/flux/repositories/oci/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes, cluster/system

admin: regenerate token
  kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/nocodb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/cluster-settings.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: broken anchor
  kubernetes/apps/storage/emqx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: openebs deployment to disable some feature
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: malformed file in spegel
  kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes, cluster/apps

fix: postbuild declared multiple time
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: missing repository namespace
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellystat/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/torrent/ks.yaml
  kubernetes/apps/media/traktarr/ks.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media, cluster/monitoring

fix: missing git repository namepsace
  kubernetes/apps/default/autotranslate/ks.yaml
  kubernetes/apps/default/hajimari/ks.yaml
  kubernetes/apps/default/it-tools/ks.yaml
  kubernetes/apps/default/mazanoke/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
  kubernetes/apps/home-automation/home-assistant/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/identity/authelia/ks.yaml
  kubernetes/apps/identity/lldap/ks.yaml
  kubernetes/apps/identity/vaultwarden/ks.yaml
  kubernetes/apps/networking/twingate-backup/ks.yaml
  kubernetes/apps/storage/pgadmin/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/identity, cluster/networking

fix: kyverno git repository namespace
  kubernetes/apps/kyverno/kyverno/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: move pvc from storage into components section
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: create a persistence component
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/minio/ks.yaml
  kubernetes/components/persistence/kustomization.yaml
  kubernetes/components/persistence/pvc.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: minio storage
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: persistence in storage
  kubernetes/apps/storage/minio/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/pvc.yaml
  kubernetes/components/persistence/kustomization.yaml
  kubernetes/components/persistence/pvc.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

refactor: clean minio
  kubernetes/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: cloudnative deploy
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: use cilium loadbalancers instead
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/networking

add: additional eqmx info
  kubernetes/apps/storage/emqx/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: extra info for openebs
  talos/patches/global/machine-kubelet.yaml
Labels: none

fix: indentity nfs persistence
  kubernetes/apps/identity/kustomization.yaml
  kubernetes/apps/identity/pvc.yaml
  kubernetes/apps/identity/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

fix: networking apps
  kubernetes/apps/networking/adguard-home/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/networking/pvc.yaml
  kubernetes/apps/networking/twingate-backup/ks.yaml
  kubernetes/apps/networking/twingate/ks.yaml
  kubernetes/apps/networking/vpn-gateway/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: adguard configuration
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: typo
  kubernetes/apps/networking/adguard-home/ks.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/networking/twingate-backup/ks.yaml
  kubernetes/apps/networking/twingate/ks.yaml
  kubernetes/apps/networking/vpn-gateway/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: some configuration talos migration was a nightmare
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/hyperoptic/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: disable insecure talos
  .taskfiles/bootstrap/Taskfile.yaml
  talos/clusterconfig/.gitignore
Labels: area/taskfile

admin: regenerate secret
  bootstrap/templates/kubernetes/apps/storage/nocodb/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/app/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  talos/patches/global/machine-kubelet.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: update topology for cloudflared
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: set external dns to twingate
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chsnge: remove tls file attachment
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: remove persistence on vpn pod-gateway
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: use an empty dire
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: net admin capability
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: capability
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: fix capability on vpn gateway
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: reset capabilities
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

cfix: wrong placed capability
  kubernetes/apps/networking/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: networking configuration
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

refact: clean networking system in the infrastructure leveraging cilium
  kubernetes/apps/kube-system/cilium/app/networks.yaml
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/ks.yaml
  kubernetes/apps/networking/nginx/shared/certificate.yaml
  kubernetes/apps/networking/nginx/shared/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

refactor: remove tls from ingress in networking
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/hyperoptic/app/ingress.yaml
  kubernetes/apps/networking/pihole/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: networking
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking
