Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

add: calibre port to calibre web
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Revert "add: calibre port to calibre web"
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Revert "feat(container)!: Update image ghcr.io/linuxserver/calibre-web to v2021"
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: calibre web image to use bjws
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: system upgrade controller kustomization
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: block user agent on ingress
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: replace auth-snippet with auth-proxy-set-headers
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
  kubernetes/apps/networking/ingress-nginx/app/auth-snippet.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: upgrade system upgrade controller agent
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: upgrade system upgrade server
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

Revert "fix(container): update image rancher/system-upgrade-controller to v0.13.2"
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: disable grafana in kyverno
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: kyverno to add verbs to background controller
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: allow snippet
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: values configuratrion
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: prowlarr to authelia bypass rule
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secrets.sops.yml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/kubernetes, area/terraform, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

add: prowlarr into cluster secrets
  templates/kubernetes/cluster-secrets.sops.yaml
Labels: area/templates

change: move auth snippet config map into kyverno
  kubernetes/apps/kyverno/kyverno/policies/auth-snippet.yaml
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/networking

change: restore nginx snippet
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/networking

change: kyverno to use auth-snippet
  kubernetes/apps/kyverno/kyverno/policies/auth-snippet.yaml
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: cloudflared secret sops encryption to configure
  configure
Labels: none

admin: re-generate secrets
  ansible/inventory/group_vars/kubernetes/secrets.sops.yml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/kubernetes, area/terraform, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

fix: broken path typo
  configure
Labels: none

add: cloudflare tunnel configuration
  templates/kubernetes/cluster-cloudflared-tunnel-secret.sops.yaml
  templates/kubernetes/cluster-secrets.sops.yaml
Labels: area/templates

add: cloudflared tunnel to kubernetes
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: add networking to cloudflared kustomization
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secrets.sops.yml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/secret.sops.yaml
Labels: area/ansible, area/kubernetes, area/terraform, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: fix typo in templates file
  templates/kubernetes/cluster-cloudflared-tunnel-secret.sops.yaml
Labels: area/templates

admin: delete config file from bootstrap
  .gitignore
  bootstrap/vars/config.yaml
Labels: none

change: renale ansible tasks file extension
  .taskfiles/AnsibleTasks.yaml
Labels: area/taskfile

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/group_vars/master/main.yaml
  ansible/inventory/group_vars/worker/main.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yml
  ansible/inventory/hosts.yaml
  bootstrap/configure.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

add: .sops.yaml to gitignore file
  .gitignore
Labels: none

fix: task ansible bootstrap configuration
  Taskfile.yml
  bootstrap/tasks/validation/cloudflare.yaml
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/identity/authelia/app/secret.sops.yaml.j2
Labels: area/taskfile

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/k3s.yml
  ansible/inventory/group_vars/kubernetes/kube-vip.yml
  ansible/inventory/group_vars/kubernetes/os.yml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/group_vars/kubernetes/secrets.sops.yml
  ansible/inventory/group_vars/master/k3s.yml
  ansible/inventory/group_vars/worker/k3s.yml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  bootstrap/tasks/ansible/main.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

refactor: remove unused directories
  .vscode/extensions.json
  .vscode/settings.json
  templates/.sops.yaml
  templates/ansible/kube-vip.yml
  templates/kubernetes/cert-manager-secret.sops.yaml
  templates/kubernetes/cloudflare-ddns-secret.sops.yaml
  templates/kubernetes/cluster-authelia-secret.sops.yaml
  templates/kubernetes/cluster-cloudflared-tunnel-secret.sops.yaml
  templates/kubernetes/cluster-media-secret.sops.yaml
  templates/kubernetes/cluster-media-traktarr-secret.sops.yaml
  templates/kubernetes/cluster-secrets.sops.yaml
  templates/kubernetes/external-dns-secret.sops.yaml
  templates/kubernetes/flux/cluster-settings.yaml
  templates/kubernetes/flux/cluster.yaml
  templates/kubernetes/github-webhook-token-secret.sops.yaml
  templates/kubernetes/notification/cluster-slack-secret.sops.yaml
  templates/kubernetes/notification/cluster-telegram-secret.sops.yaml
  templates/kubernetes/weave-gitops-secret.sops.yaml
  templates/terraform/secret.sops.yaml
Labels: area/templates

fix: postgres in media namespace
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media
