Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: disable kyverno background controller metric service
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: disable kyverno background metering
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: do not create metrics config
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove kyverno metrics config
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: disable kyverno background controller
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: move pgadmin policy from kyverno
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/pgadmin-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: fix minio prometheus configuration
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update recyclarr sonarr url
  kubernetes/apps/media/recyclarr/app/recyclarr.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: loki to monitoring namespace
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/prometheus-rule.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: loki replicas size and information
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: thanos and loki to authelia configuration
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: remove whitelist from loki
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: enable tls on thanos ingress
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: disable loki ingress endpoint
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

add: grafana postgresql secrets in cluster template
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

change: enable grafana in monitoring namepsace
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity, cluster/monitoring

admin: create grafana secrets template
  bootstrap/templates/kubernetes/apps/monitoring/grafana/app/secret.sops.yaml.j2
Labels: none

admin: upgrade grafana monitoring secrets
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: grafan typo secret
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: set auto mount service account to true
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: enable thanos frontend
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Revert "change: disable loki ingress endpoint"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: tracktarr radarr and sonarr profile
  bootstrap/templates/kubernetes/apps/media/traktarr/app/secret.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

Reapply "change: disable loki ingress endpoint"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: set pgid and uid
  kubernetes/apps/media/traktarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: pihole ansible tasks
  .taskfiles/PiholeTasks.yaml
  Taskfile.yml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/hosts.yaml
  ansible/playbooks/cluster-rollout-update.yaml
  ansible/playbooks/pihole-installation.yaml
  ansible/playbooks/pihole-nuke.yaml
  ansible/playbooks/pihole-prepare.yaml
  ansible/playbooks/pihole-update.yaml
  ansible/roles/os/application/tasks/application.yaml
  ansible/roles/os/application/tasks/main.yaml
  ansible/roles/os/core/tasks/kernel.yml
  ansible/roles/os/core/tasks/main.yml
  ansible/roles/os/core/tasks/network.yml
  ansible/roles/os/raspberry/tasks/main.yaml
  ansible/roles/os/raspberry/tasks/packages.yaml
  ansible/roles/os/raspberry/tasks/raspberry.yml
  ansible/roles/os/ubuntu/tasks/main.yaml
  ansible/roles/os/ubuntu/tasks/packages.yml
Labels: area/ansible, area/taskfile

refactor: pihole ansible task
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/PiholeTasks.yaml
  ansible/inventory/hosts.yaml
  ansible/playbooks/pihole-installation.yaml
  ansible/playbooks/pihole-nuke.yaml
  ansible/playbooks/pihole-update.yaml
Labels: area/ansible, area/taskfile

add: raspberry pi to the ansible hosts file
  bootstrap/templates/ansible/inventory/hosts.yaml
Labels: none

change: pihole default theme color
  ansible/playbooks/templates/setupVars.conf.j2
Labels: area/ansible

admin: create pihole directory if missing
  ansible/playbooks/pihole-installation.yaml
Labels: area/ansible

admin: regenerate password
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: ansible pihole installation file
  ansible/playbooks/pihole-installation.yaml
Labels: area/ansible

admin: create pihole setupvars template
  ansible/playbooks/pihole-installation.yaml
  ansible/playbooks/templates/setupVars.conf.j2
Labels: area/ansible

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  ansible/inventory/hosts.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: raspberry pi into ansible bootstrap
  ansible/inventory/hosts.yaml
  bootstrap/tasks/ansible/main.yaml
Labels: area/ansible

admin: remove pihole etc directory after uninstall
  ansible/playbooks/pihole-nuke.yaml
Labels: area/ansible

add: pihole into networking namespace
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/pihole/app/endpoint.yaml
  kubernetes/apps/networking/pihole/app/ingress.yaml
  kubernetes/apps/networking/pihole/app/kustomization.yaml
  kubernetes/apps/networking/pihole/app/service.yaml
  kubernetes/apps/networking/pihole/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: monitoring webmin nodes ingress service name
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
