Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

admin: remove bootstrap task dir
  bootstrap/tasks/ansible/main.yaml
  bootstrap/tasks/kubernetes/main.yaml
  bootstrap/tasks/sops/main.yaml
Labels: none

admin: disable bootstraping from old
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

change: move rbac into drangofly file
  kubernetes/apps/storage/dragonfly/app/helmrelease.yaml
  kubernetes/apps/storage/dragonfly/app/kustomization.yaml
  kubernetes/apps/storage/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

change: move rbac into gatus helmrelease
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: cloudnative recover from v2
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

change: k8s from loacl to cluster
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: heml repository of k8s gateway
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/meta/repos/k8s-gateway.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: external traffic to local
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "change: heml repository of k8s gateway"
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/meta/repos/k8s-gateway.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: k8s-gateway definition
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: update cilium network policy
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/apps

fix: use correct asn number
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/apps

change: remove bgp name
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

change: update configuration for cilium
  kubernetes/apps/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/kube-system/cilium/app/networks.yaml
Labels: area/kubernetes, cluster/apps

change: remove tcp on adguard
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "change: remove tcp on adguard"
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: adgaurd external traffic policy to Cluster
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove exernal traffic policy flag
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: use sharing key flag
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove node affinity
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

change: generic plugin fsGroup
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove readonly on dev path
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: give ownership of the device plugins to the mounted user
  kubernetes/apps/kube-system/device-plugin/generic/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: twingate dns to the inhouse dns
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: qbrr to torrent persistence
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: torrent to only be accessible internal
  kubernetes/apps/media/torrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

add: tqm to media namespace in clusder
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/tqm/app/config.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/kustomization.yaml
  kubernetes/apps/media/tqm/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: nfs configuration for tqm
  kubernetes/apps/media/tqm/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: set qbtorrent port
  kubernetes/apps/media/tqm/app/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/media
