Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: wrong nextcloud oidc config
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix:L remove contradictory configuration
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: add nextcloud to tailnet
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: remove exposed nextcloud to replace with ingress kyverno annotations
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/auth-annotation.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/tailscale-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/identity

change: expose nextcloud through ingress annotations
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: enable kyverno background controller
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/tailscale-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: kyverno malformed policy
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: authelia to tailscale
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

Revert "feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v2.7.0"
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: kyverno remove useless replace_all
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove useless to string
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove tls from tailscale generation
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: remove defaultbancked from kyverno
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: regenerate correct settings
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

fix: broken path
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotations.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: expose adguard service to tailnet
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: disable exposed ingress tailscale
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: remove adguard tailscale to advertise subnet
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: missing connector file
  kubernetes/apps/networking/tailscale/app/connector.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

admin: regenerate secrets
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
Labels: none

admin: regenerate secrets
  bootstrap/templates/kubernetes/apps/default/nextcloud/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/kustomization.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: eqmx to use mosquitto
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
  kubernetes/apps/storage/emqx/cluster/ingress.yaml
  kubernetes/apps/storage/emqx/cluster/kustomization.yaml
  kubernetes/apps/storage/emqx/cluster/podmonitor.yaml
  kubernetes/apps/storage/emqx/ks.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/mosquitto/app/helmrelease.yaml
  kubernetes/apps/storage/mosquitto/app/kustomization.yaml
  kubernetes/apps/storage/mosquitto/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: mosquitto config file path
  kubernetes/apps/storage/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

Update status link to use 'gatus' subdomain
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Replace init-db with gatus-sidecar in helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Remove SECRET_DOMAIN from helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Update resource requests and limits in helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Configure gatus-sidecar with environment variables
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

Add permissions for services and gateway resources
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
