Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

add: dragonfly granafa dashboard
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

add: image editing tool mazanoke in cluster
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
  kubernetes/apps/default/mazanoke/app/kustomization.yaml
  kubernetes/apps/default/mazanoke/ks.yaml
Labels: area/kubernetes, cluster/apps

change: mazanoke security context information
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: persistence for cache
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: create cache and log dir for nginx
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: create path to client_temp
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: create log dir for nginx
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: missing path dir
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

add: run path to mazanoke
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: mazanoke port
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: proxy temp dir
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: floder creationg
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: cache dir
  kubernetes/apps/default/mazanoke/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none
