Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

Update helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Update configuration.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

Update kromgo-badges.py
  .github/scripts/kromgo-badges.py
Labels: area/github

admin: remove thanos from monitoring
  ansible/playbooks/cluster-installation.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/ks.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/monitoring

change: set resources for workers on node feature discovery
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove nzbget from media
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Revert "feat(helm): update chart ingress-nginx to 4.12.0"
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "change: remove nzbget from media"
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: nginx 4.12.0 allowing snippet annotations
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: upgrade nginx to 4.12.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove duplicate
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: zigbee config dir to data
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: broken zigbee upgrade
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

Revert "feat(container)!: Update image ghcr.io/koenkk/zigbee2mqtt to v2"
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

Revert "fix: broken zigbee upgrade"
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

change: increase jellyseerr memory limit
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: improve jellyfin config setup
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media
