Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: cloudflared origin certificate env variable
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.j2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: regenerate all secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

change: update template
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/secret.sops.yaml.j2
Labels: none

add: substitution enabled label on cloudflare configuration
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "change: remove service account secret"
  kubernetes/apps/monitoring/dashboard/app/rbac.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: external dns to use cloudflared
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove default ingress from nginx
  kubernetes/apps/networking/nginx/ingress/cloudflare-networks.txt
  kubernetes/apps/networking/nginx/ingress/helmrelease.yaml
  kubernetes/apps/networking/nginx/ingress/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: ingress to use external
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/apps/media/calibre/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/nzbget/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/torrent/app/helmrelease.yaml
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/apps/monitoring/webmin/k8s-0/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-1/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-2/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-3/app/ingress.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/storage/db/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/synology/app/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: update healthchecks
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove wait on nginx internal
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: networking for cloudflared
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: namespace typo in cloudflared configuration
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove cloudflared ddns
  kubernetes/apps/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/kustomization.yaml
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflare-ddns/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflared dns endpoint to point to the correct tunnel id
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: set no tls verify on cloudflared
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: update nginx configuration
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: remove cloudflared cert.pem
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: crying for help comment in casse someone sees it
  kubernetes/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: cloudflared and nginx internalhealth check
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: kubernetes dashboard skipping login
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: set internal nginx to be default router
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: reduce internal ingress nginx replicat to 1
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: internal ingress hostname
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: internal and external ingress loadbalancer ip
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: ingress internal and external ip addresse
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/networking

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Revert "feat(helm): update chart postgresql to 13.4.2"
  kubernetes/apps/storage/db/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "fix(helm): update chart node-feature-discovery to 0.15.1"
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: mino s3 bucket server to cluster
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/minio/app/helmrelease.yaml
  kubernetes/apps/storage/minio/app/kustomization.yaml
  kubernetes/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: move storage db to base storage directory
  kubernetes/apps/storage/db/kustomization.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/kustomization.yaml
  kubernetes/apps/storage/pgadmin/ks.yaml
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql/app/kustomization.yaml
  kubernetes/apps/storage/postgresql/ks.yaml
  kubernetes/apps/storage/redis/app/helmrelease.yaml
  kubernetes/apps/storage/redis/app/kustomization.yaml
  kubernetes/apps/storage/redis/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: pgadmin to use app template from bjw-s
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
  kubernetes/apps/storage/pvc.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update pgadmin configuration to depend on postresql
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: pgadmin ingress to external
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: add tls to minio hosts
  kubernetes/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: enable postgresql metric server
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: main data required by metric
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: minio and pgadmin path and remove authelia from minio
  kubernetes/apps/storage/minio/app/helmrelease.yaml
  kubernetes/apps/storage/pgadmin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: thanos to cluster monitoring system
  bootstrap/templates/kubernetes/apps/monitoring/thanos/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/pvc.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
