Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

change: create gitops secret
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: gitops only enable user account
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: increase jellyfin memory resource from 4gb to 8gb
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: delegate weave-gitops auth to authelia
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: admin user credential
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

Revert "fix(helm): update chart reloader to 1.0.120"
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

Revert "fix(helm): update chart reloader to 1.0.120"
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

Update README.md
  README.md
Labels: none

admin: rename master to controllers
  ansible/inventory/group_vars/master/main.yaml
  ansible/inventory/group_vars/worker/main.yaml
  bootstrap/templates/ansible/inventory/group_vars/controllers/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/workers/main.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml
Labels: area/ansible

Update helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Update helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: two controller nodes to cluster
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  ansible/inventory/hosts.yaml
  ansible/playbooks/cluster-reboot.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: two controller nodes to cluster
  ansible/inventory/group_vars/controllers/main.yaml
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/group_vars/workers/main.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  ansible/inventory/hosts.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: might run another time
  ansible/roles/os/ubuntu/tasks/packages.yml
Labels: area/ansible

fix: ansible reboot hosts
  ansible/playbooks/cluster-reboot.yaml
Labels: area/ansible

change: move jellyfin to k8s-4
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: new node endpoints
  kubernetes/apps/monitoring/webmin/k8s-4/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-4/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-4/app/kustomization.yaml
  kubernetes/apps/monitoring/webmin/k8s-4/app/service.yaml
  kubernetes/apps/monitoring/webmin/k8s-4/ks.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/app/endpoint.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/app/ingress.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/app/kustomization.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/app/service.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/ks.yaml
  kubernetes/apps/monitoring/webmin/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: move jellyfine to node 3
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: remove jellyfin cpu limit
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Revert "change: move jellyfine to node 3"
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: pod topology spread constrains on twingate connectors
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: twingate topology spread constraints
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: twingate affinity to use topology
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: nodes broken configuration
  kubernetes/apps/monitoring/webmin/k8s-4/app/service.yaml
  kubernetes/apps/monitoring/webmin/k8s-4/ks.yaml
  kubernetes/apps/monitoring/webmin/k8s-5/app/service.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: increase cloudflared replicat to 3
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: unpacker image location
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

Update README.md
  README.md
Labels: none

change: postgresql
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: postgresql port
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: restart postgress as backup
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

disable db pings
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: restart postgresql in single mode
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: command to args
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change pg port
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chnge: container ports
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: create a postgres recoervy
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/networking

add: missing pg recovery
  kubernetes/apps/storage/postgresql-recovery/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql-recovery/app/kustomization.yaml
  kubernetes/apps/storage/postgresql-recovery/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: disable metric
  kubernetes/apps/storage/postgresql-recovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: disable all calls
  kubernetes/apps/storage/postgresql-recovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage
