Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: hajimary reference
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/cluster/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: home-automation to hajimary scope
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove zigbee frontend url
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: kyverno ingress internal policy
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: use kyverno ingress internal annotation
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/cluster/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: authelia configuration to introduce hass
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

fix: authelia configuration
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: remove authelia on hass
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

Create google-assistant-privacy.rm
  .github/google-assistant-privacy.rm
Labels: area/github

Revert "change: remove authelia on hass"
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

change: remove hass from authelia
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/apps, cluster/identity

Revert "feat(container)!: Update image bitnami/postgresql to v17"
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "feat(container)!: Update image bitnami/postgresql to v17"
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: a pre init db script to create postgresql system user
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: reword script filename
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: init script to just echo
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "fix: reword script filename"
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: init script to just echo"
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: user creation script
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove pre init db
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: remove pre init db"
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: add debug script
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove pre init db
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

refactor: remove cert manager dashboard json
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

refactor: replace deprecated spec configuration generateExisting
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

change: k8s-at-home to use bjws
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "change: k8s-at-home to use bjws"
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

cahnge: revert adgaurd to 52
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Reapply "change: k8s-at-home to use bjws"
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Revert "Reapply "change: k8s-at-home to use bjws""
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

Reapply "Reapply "change: k8s-at-home to use bjws""
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: postgresql 17 on cluster
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/postgresql-17/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql-17/app/kustomization.yaml
  kubernetes/apps/storage/postgresql-17/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: migrate postgres from 16 to 17
  kubernetes/apps/storage/postgresql-17/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql-17/app/kustomization.yaml
  kubernetes/apps/storage/postgresql-17/ks.yaml
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: remove kustomization file
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: kromgo to cluster
  kubernetes/apps/monitoring/kromgo/apps/config/config.yaml
  kubernetes/apps/monitoring/kromgo/apps/kustomization.yaml
  kubernetes/apps/monitoring/kromgo/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: broken kustomization path
  kubernetes/apps/monitoring/kromgo/app/config/config.yaml
  kubernetes/apps/monitoring/kromgo/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: move helmrelease to the correct directory
  kubernetes/apps/monitoring/kromgo/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: add missing kromgo helmrelease
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

fix: missing host anchor
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
