Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: postgresql restore
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: temp disable auth on dashboard
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

change: remove postgres recover
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/postgresql-recovery/app/helmrelease.yaml
  kubernetes/apps/storage/postgresql-recovery/app/kustomization.yaml
  kubernetes/apps/storage/postgresql-recovery/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: increase pgsql resources
  kubernetes/apps/storage/postgresql/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "admin: temp disable auth on dashboard"
  kubernetes/apps/monitoring/dashboard/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/monitoring

admin: increase jellystat and flaresolverr memory limit to 500mi
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

add: descheduler to the cluster
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: descheduler to kube-system kustomization file
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/apps

fix: descheduler helm repository
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: emqx to storage namespace
  bootstrap/templates/kubernetes/apps/storage/emqx/app/secret.sops.yaml.j2
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/namespace.yaml
  kubernetes/apps/home-automation/pvc.yaml
  kubernetes/apps/storage/emqx/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/app/kustomization.yaml
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
  kubernetes/apps/storage/emqx/cluster/ingress.yaml
  kubernetes/apps/storage/emqx/cluster/kustomization.yaml
  kubernetes/apps/storage/emqx/cluster/podmonitor.yaml
  kubernetes/apps/storage/emqx/ks.yaml
  kubernetes/flux/repositories/helm/emqx.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage

add: emqx_ip to the environment
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  bootstrap/templates/kubernetes/apps/storage/emqx/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/emqx/cluster/secret.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/kustomization.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: enable emqx in storage
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove init config generator
  kubernetes/apps/storage/emqx/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: emqx secret names
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove namespace in secrets name
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: cilium to use metallb
  kubernetes/apps/storage/emqx/cluster/cluster.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: zigbee to home automation
  bootstrap/templates/kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml.j2
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/apps

add: new values to secrets templates
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: node affinity to zigbee
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: enable zigbee2mqtt
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: move pod affinity to the correct location
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove port
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: zigbee user permission
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove adapter
  bootstrap/templates/kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml.j2
Labels: none

change: regenerate secret
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: remove frontend url
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/main.yaml
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: remove usb from zigbee
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: zigbee adding env var
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: kyverno cert manager to use production
  kubernetes/apps/kyverno/kyverno/policies/ingress-annotation.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

add: tls on zigbee
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: tls on emqz endpoint
  kubernetes/apps/storage/emqx/cluster/ingress.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: twingate dns2 syntax
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: hardcode pihole dns
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: downgrade twingate
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

change: remove additional dns
  kubernetes/apps/networking/twingate-backup/app/helmrelease.yaml
  kubernetes/apps/networking/twingate/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: home assistant to home automation namespave
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/apps

add: missing kubernetes home-assistant directory
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/apps

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
