Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: missing label annotations
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: missing depencency flag
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: namespace
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove alias and copy real name
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: region to cloudnative secret
  bootstrap/templates/kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml.j2
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

add: cloudnative kustomize healthChecks
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: s3 bucket region
  bootstrap/templates/kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml.j2
Labels: none

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets
  ansible/inventory/group_vars/kubernetes/secret.sops.yaml
  ansible/inventory/host_vars/k8s-0.sops.yaml
  ansible/inventory/host_vars/k8s-1.sops.yaml
  ansible/inventory/host_vars/k8s-2.sops.yaml
  ansible/inventory/host_vars/k8s-3.sops.yaml
  ansible/inventory/host_vars/k8s-4.sops.yaml
  ansible/inventory/host_vars/k8s-5.sops.yaml
  ansible/inventory/host_vars/pihole.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/app/secret.sops.yaml
  kubernetes/apps/storage/emqx/cluster/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/ansible, area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

Update cluster16.yaml
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Update cluster16.yaml
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove cloudnative tempo
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: mount dri device on jellyfin
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: arr familly settings
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

change: update prowlarr setting
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

fix: jellyseer liveness httpGet path
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

admin: add home operation to the flux oci configuration
  kubernetes/flux/repositories/oci/home-operation.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/system

change: all containers from onedr0p to home-operations
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authelia/app/helmrelease.yaml
  kubernetes/apps/identity/lldap/app/helmrelease.yaml
  kubernetes/apps/identity/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/apps, cluster/media, cluster/identity, cluster/monitoring

change: charts to point to oci home-operations chart
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/storage/emqx/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/christfried.yaml
  kubernetes/flux/repositories/helm/democratic-csi.yaml
  kubernetes/flux/repositories/helm/dex.yaml
  kubernetes/flux/repositories/helm/emqx.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/nfs-subdir-external-provisioner.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
  kubernetes/flux/repositories/helm/oauth2-proxy.yaml
  kubernetes/flux/repositories/helm/openebs.yaml
  kubernetes/flux/repositories/helm/runix.yaml
  kubernetes/flux/repositories/oci/home-operation.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/monitoring, cluster/networking

fix: missing home operation charts
  kubernetes/flux/repositories/oci/home-operations.yaml
Labels: area/kubernetes, cluster/system

fix: typo on external dns
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

admin: enable cloudnativepg operator on the server
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update cloud native pg postgresql from 16 to 17
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: upgrade cloudnative-pg to version 17
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/apps/storage/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: ks to enable flux susbstitution
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update cloudnative pg ks healthcheck
  kubernetes/apps/storage/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: rename postgres16 to postgres17
  kubernetes/apps/storage/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/storage/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: bootstrap recovery to cluster
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update barman recovery
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: invalide indentation with server name
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove unescessary serverName
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: update fresh db
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: recovery to empty lets wait for backup
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: recovery
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: remove external cluster
  kubernetes/apps/storage/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: stirling-pdf tool to cluster default namespace
  kubernetes/apps/default/stirling-pdf/app/helmrelease.yaml
  kubernetes/apps/default/stirling-pdf/app/kustomization.yaml
  kubernetes/apps/default/stirling-pdf/ks.yaml
Labels: area/kubernetes, cluster/apps

change: remove fullnameoverride
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

fix: external dns provider
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/networking

add: jellyseerr cache dir
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
