Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
Labels: none

change: system upgrade controller docker image
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/system

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_pod_count.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_age_days.svg
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
Labels: none

chore: download kromgo badges
  kromgo/cluster_cpu_usage.svg
  kromgo/cluster_memory_usage.svg
  kromgo/cluster_uptime_days.svg
Labels: none

Update helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/media
