Repository ChristfriedBalizou/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/taskfile, area/templates, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/templates:
  - changed-files:
      - any-glob-to-any-file: templates/**/*
# Cluster
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/**/*
cluster/system:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*
      - any-glob-to-any-file: kubernetes/apps/flux-system/**/*
      - any-glob-to-any-file: kubernetes/apps/kyverno/**/*
      - any-glob-to-any-file: kubernetes/apps/cert-manager/**/*
      - any-glob-to-any-file: kubernetes/apps/system-upgrade/**/*
      - any-glob-to-any-file: kubernetes/flux/**/*
cluster/storage:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/storage/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/media/**/*
cluster/identity:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/identity/**/*
cluster/monitoring:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/monitoring/**/*
cluster/networking:
  - changed-files:
      - any-glob-to-any-file: kubernetes/apps/networking/**/*

change: use root password
  kubernetes/apps/storage/mariadb/app/config/check.sh
Labels: area/kubernetes, cluster/apps, cluster/storage

change: cloudbeaver path moun
  kubernetes/apps/storage/cloudbeaver/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: remove probe from mariadb
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

Revert "change: remove probe from mariadb"
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

fix: mariadb healthcheck
  kubernetes/apps/storage/mariadb/app/config/check.sh
Labels: area/kubernetes, cluster/apps, cluster/storage

add: reloader flag to mariadb
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: wordpress to cluster oci repos
  kubernetes/components/common/repos/wordpress/kustomization.yaml
  kubernetes/components/common/repos/wordpress/ocirepository.yaml
Labels: area/kubernetes

add: wordpress project to cluster
  bootstrap/templates/kubernetes/apps/default/letibeafrica/app/secret.sops.yaml.j2
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/wordpress/app/helmrelease.yaml
  kubernetes/apps/default/wordpress/app/kustomization.yaml
  kubernetes/apps/default/wordpress/ks.yaml
Labels: area/kubernetes, cluster/apps

add: wordpress secrets
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
Labels: none

admin: update setup
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
  kubernetes/apps/default/letibeafrica/app/kustomization.yaml
  kubernetes/apps/default/letibeafrica/app/secret.sops.yaml
  kubernetes/apps/default/letibeafrica/ks.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/letibeafrica/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/letibeafrica/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

admin: regenerate secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/letibeafrica/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

admin: regenerate secrets
  bootstrap/templates/kubernetes/components/common/sops/cluster-secrets.sops.yaml.j2
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/default/actual/app/secret.sops.yaml
  kubernetes/apps/default/letibeafrica/app/secret.sops.yaml
  kubernetes/apps/default/mealie/app/secret.sops.yaml
  kubernetes/apps/default/memos/app/secret.sops.yaml
  kubernetes/apps/default/n8n/app/secret.sops.yaml
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
  kubernetes/apps/default/paperless/app/secret.sops.yaml
  kubernetes/apps/flux-system/flux-instance/app/secret.sops.yaml
  kubernetes/apps/flux-system/notification/telegram/app/secret.sops.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/secret.sops.yaml
  kubernetes/apps/identity/authelia/app/secret.sops.yaml
  kubernetes/apps/identity/vaultwarden/app/secret.sops.yaml
  kubernetes/apps/media/secret.sops.yaml
  kubernetes/apps/media/torrent/app/secret.sops.yaml
  kubernetes/apps/media/traktarr/app/secret.sops.yaml
  kubernetes/apps/monitoring/gatus/app/secret.sops.yaml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/networking/cloudflared/app/secret.sops.yaml
  kubernetes/apps/networking/external-dns/app/secret.sops.yaml
  kubernetes/apps/networking/tailscale/app/secret.sops.yaml
  kubernetes/apps/storage/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/storage/mariadb/app/secret.sops.yaml
  kubernetes/apps/storage/pgadmin/app/secret.sops.yaml
  kubernetes/components/common/sops/cluster-secrets.sops.yaml
  kubernetes/components/common/sops/sops-age.sops.yaml
Labels: area/kubernetes, cluster/apps, cluster/system, cluster/storage, cluster/media, cluster/identity, cluster/monitoring, cluster/networking

change: database initdb entry point
  kubernetes/apps/storage/mariadb/app/config/create-letibeafrica.sql
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
  kubernetes/apps/storage/mariadb/app/kustomization.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: init-scripts config
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

fix: config sql script location
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: pod to set security context
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: pod permission
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: mount script as readonly
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: set uid
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

change: set missing pvc to letibeafrica
  kubernetes/apps/default/letibeafrica/app/kustomization.yaml
  kubernetes/apps/storage/mariadb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps, cluster/storage

add: missing file
  kubernetes/apps/default/letibeafrica/app/pvc.yaml
Labels: area/kubernetes, cluster/apps

fix: letibeafrica persistence
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: move wordpress oci repo in project folder
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
  kubernetes/apps/default/letibeafrica/app/kustomization.yaml
  kubernetes/components/common/repos/kustomization.yaml
  kubernetes/components/common/repos/wordpress/kustomization.yaml
  kubernetes/components/common/repos/wordpress/ocirepository.yaml
Labels: area/kubernetes, cluster/apps

change: add missing file
  kubernetes/apps/default/letibeafrica/app/ocirepository.yaml
Labels: area/kubernetes, cluster/apps

fix: missing substitute configuration
  kubernetes/apps/default/letibeafrica/ks.yaml
Labels: area/kubernetes, cluster/apps

change: wordpress tag and digest
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove image section leave the chart handle it
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: ingress according to chart
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

fix: wrong database name
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: disable empty passworfd
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

change: remove unknown config
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

add: smtp support to wordpress
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps

chore: download kromgo badges
  kromgo/metrics.yaml
Labels: none

change: hardcode worpress version
  kubernetes/apps/default/letibeafrica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/apps
